<!DOCTYPE html>

<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Portfolio_Kunal</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- CSS
    ================================================== -->
    {% load static %}
   <link rel="stylesheet" href="{% static 'homecss/default.css' %}">
	<link rel="stylesheet" href="{% static 'homecss/layout.css' %}">
   <link rel="stylesheet" href="{% static 'homecss/media-queries.css' %}">
   <link rel="stylesheet" href="{% static 'homecss/magnific-popup.css' %}">

   <!-- Script
   ================================================== -->
   {% load static %}
	<script src="{% static 'js/modernizr.js' %}"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static 'favicon.png' %}" >

</head>

<body background="{% static '/images/7T9364v.gif' %}">

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#portfolio">Works</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I'm Kunal Malhotra.</h1>
            <h3><span>A Data Science enthusiast, web developer, data analyst and data engineer working with creating effective
               dashboarding, data visualizations, A B
               testing, analysing data, data mining to
               explore better data insights and many
               other predictive model techniques to
               deliver insights start scrolling
            and learn more about me.</span></h3>
            <hr />
            <ul class="social">
               <li><a href="https://www.facebook.com/profile.php?id=100009293806881"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://twitter.com/Kunal93331858"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://github.com/Gareeeb7"><i class="fa fa-github"></i></a></li>
               <li><a href="https://www.linkedin.com/in/kunal-m-424baa184/"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/07lykan_slayer/"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://public.tableau.com/profile/kunal8409#!/"><i class="fa fa-plus"></i></a></li>
               <li><a href="https://join.skype.com/invite/W19G6EwcG3Hd"><i class="fa fa-skype"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="{% static 'images/pic1.jpg' %}" alt="my pic" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>A data science enthusiast with ML and statistics skills executing data driven solutions to increase efficiency, accuracy, and utility of internal organizational data processing.</p>

              <p> 
               Experienced with creating effective dashboarding, data visualizations, A B
               Testing, and Analysing data mining to explore better data insights and many other Predictive Model techniques to
               deliver insights and implementing various Classification, clustering, and Regression Model techniques.
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>Kunal</span><br>
						   <span>24244 Civil City<br>
						         Ludhiana Punjab India
                     </span><br>
						   <span>(+91) 98777-69078</span><br>
                     <span>Kunal9988243618@gmail.com</span>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="https://drive.google.com/u/2/uc?id=1v0ozDRjO5xLcD5INpo4im96l5TZpAAHt&export=download" class="button"><i class="fa fa-download"></i>Download Resume</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>GNA University</h3>
                  <p class="info">B.Tech in Computer Science - Specialized in Big Data Analytics <span>&bull;</span> <em class="date">Augast 2021</em></p>

                  <p>
                     Phagwara, Punjab, India
 
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Arya Sen. Sec. School</h3>
                  <p class="info">Secondary Education - Science<span>&bull;</span> <em class="date">March 2015 - March 2017</em></p>

                  <p>
                     Ludhiana, Punjab, India

                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Certifications</h3>
                  <a href="https://www.coursera.org/account/accomplishments/specialization/YMTAX6ZCUA6L"><p class="info">• Modern Big Data Analysis with SQL Specialization by Cloudera.</a><span>&bull;</span> <em class="date">2020</em></p>
                  <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/AK47BXPMZ5EH"><p class="info">• Data Engineering with Google Cloud Specialization by Google Cloud.</a><span>&bull;</span> <em class="date">2020</em></p>
                  <a href="https://www.coursera.org/account/accomplishments/specialization/PWVUDNUE8RCK"><p class="info">• Data Science Specialization by The Johns Hopkins University.</a><span>&bull;</span> <em class="date">2020</em></p>
                  <a href="https://www.youracclaim.com/badges/9f66f22d-39f1-44bd-b455-302a79bb185e?source=linked_in_profile"><p class="info">• Tableau Data Scientist Badge from Tableau.</a><span>&bull;</span> <em class="date">2020</em></p>
                  <a href="https://www.youracclaim.com/badges/68b44b06-6e51-4d97-a83a-90a972cbb040?source=linked_in_profile"><p class="info">• Tableau Data Analyst Badge from Tableau.</a><span>&bull;</span> <em class="date">2020</em></p>
                  <a href="https://nptel.ac.in/content/noc/NOC20/SEM1/Ecertificates/106/noc20-cs12/Assignment/Certificates/NPTEL20CS12S1PC309376.jpg"><p class="info">• Data Mining from NPTEL by Prof. Andrew Thangaraj.</a><span>&bull;</span> <em class="date">2020</em></p>

                  <p>
                  
                     
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Work</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Aiotize</h3>
                  <p class="info">Data Science Intern <span>&bull;</span> <em class="date">December 2020 - Present</em><em class="date">December 2020 - Present</em></p>

                  <p>
                     • Remote<br>
                     • Working on Machine Learning Projects 

                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>MedTourEasy</h3>
                  <p class="info">Data Analyst Intern<span>&bull;</span> <em class="date">November 2020 - December 2020</em></p>

                  <p>
                     • Remote<br>
                     • Project Volunteering and Training 

                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Internshala</h3>
                  <p class="info">Machine Learning Training<span>&bull;</span> <em class="date">April 2020 - May 2020 </em></p>

                  <p>
                     A six weeks online training on Machine Learning provided by Internshala. The training consisted of Introduction to Machine Learning, Python for Machine Learning,
                     Machine Learning Life Cycle, Data Exploration and Manipulation, Build Your First Model, Evaluation
                     Metrics, k-NN, Selecting the Right Model, Linear Regression, Logistic Regression, Decision Trees, Feature
                     Engineering, Basics of Ensemble Models, Random Forest and Clustering modules.
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>

         <div class="nine columns main-col">

            <p>As a Data Science Enthusiast and Developer i regularly explore new skills. Here below you can see my key skills.
            </p>

				<div class="bars">

				   <ul class="skills">
					   <li><span class="bar-expand photoshop"></span><em>Data Science</em></li>
                  <li><span class="bar-expand illustrator"></span><em>Cloud Computing</em></li>
						<li><span class="bar-expand wordpress"></span><em>Python / java</em></li>
						<li><span class="bar-expand css"></span><em>SQL / Tableau</em></li>
						<li><span class="bar-expand html5"></span><em>Web / Software Development</em></li>
                  <li><span class="bar-expand jquery"></span><em>Database management</em></li>
					</ul>

				</div><!-- end skill-bars -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->


   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

            <h1>Check Out Some of My Works.</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

          	   <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-01" title="">
                        <img alt="" src="{% static 'images/portfolio/health.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>E - Health Monitoring System</h5>
                              <p>Text</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-02" title="">
                        <img alt="" src="{% static 'images/portfolio/tableau-logo.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Tableau Projects</h5>
                              <p>Text</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-03" title="">
                        <img alt="" src="{% static 'images/portfolio/live-facial-recognition-campaign-1024x522.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Crowd - Detection System</h5>
                              <p>Text</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-04" title="">
                        <img alt="" src="{% static 'images/portfolio/BusinessAdvisory-FS.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Analysis On Education System During Covid-19</h5>
                              <p>Text</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-05" title="">
                        <img alt="" src="{% static 'images/portfolio/nec-facial-recognition.0.0.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Real-Time Criminal Face Recognition System</h5>
                              <p>Text</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-06" title="">
                        <img alt="" src="{% static 'images/portfolio/118-1187707_document-management-system-icon.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Document management System</h5>
                              <p>Text</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-07" title="">
                        <img alt="" src="{% static 'images/portfolio/getty_530960791_213361.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Finger Print Door Unlock</h5>
                              <p>Text</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-08" title="">
                        <img alt="" src="{% static 'images/portfolio/7fcb8d31-f7d0-4b5c-ac75-f40391d61776_2DGamekit.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>The Last Run (a 2D game developed with Unity)</h5>
                              <p>Text</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div>  <!-- item end -->

            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->


         <!-- Modal Popup
	      --------------------------------------------------------------- -->

         <div id="modal-01" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static 'images/portfolio/modals/health.jpg' %}" alt="" />

		      <div class="description-box">
			      <h4>E - Health Monitoring System</h4>
			      <p>An E - health monitoring system employed as the method to measure the observation data. This system is used to measure natural frequencies of an human body are adopted as the observations and rpoted as report.</p>
               <span class="categories"><i class="fa fa-tag"></i>AWS, Power BI, Flask</span>
		      </div>

            <div class="link-box">
               <a href="https://github.com/Gareeeb7/E-health-reporting-system" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-01 End -->

         <div id="modal-02" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static 'images/portfolio/modals/tableau-logo.jpg' %}" alt="" />

		      <div class="description-box">
			      <h4>Tableau Projects</h4>
			      <p>Click on Details to view Tebleau dashboards and story-boards created by me.</p>
               <span class="categories"><i class="fa fa-tag"></i>Tableau, Analysis, visualization</span>
		      </div>

            <div class="link-box">
               <a href="https://public.tableau.com/profile/kunal8409#!/" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-02 End -->

         <div id="modal-03" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static 'images/portfolio/modals/crowd.png' %}" alt="" />

		      <div class="description-box">
			      <h4>Crowd - Detection System</h4>
			      <p>A crowd detection system that detect crowd in images via face-detection and opencv computer vision.</p>
               <span class="categories"><i class="fa fa-tag"></i>Flask, OpenCV</span>
		      </div>

            <div class="link-box">
               <a href="https://github.com/Gareeeb7/crowd_detection_project" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-03 End -->

         <div id="modal-04" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static 'images/portfolio/modals/BusinessAdvisory-FS.jpg' %}" alt="" />

		      <div class="description-box">
			      <h4>Analysis On Education System During Covid-19</h4>
			      <p>A Data Analysis on Education systems and E learning platforms popularity among Population. We begin with sentiment analysis on twitter tweets data with natural language processing and analyze what are their opinions on social meeting applications for their online learning or training process positive, negative, and neutral by any online sentiment analysis model.</p>
               <span class="categories"><i class="fa fa-tag"></i>Reporting, Analysis, visualization, NLP</span>
		      </div>

            <div class="link-box">
               <a href="https://github.com/Gareeeb7/Data_Analysis_on_E-Learning_platforms" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-04 End -->

         <div id="modal-05" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static 'images/portfolio/modals/nec-facial-recognition.0.0.jpg' %}" alt="" />

		      <div class="description-box">
			      <h4>Real-Time Criminal Face Recognition System</h4>
			      <p>Project build under Smart India Hackathon 2020, Organized by India Government.</p>
               <span class="categories"><i class="fa fa-tag"></i>OpenCV, Flask, Python</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-05 End -->

         <div id="modal-06" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static 'images/portfolio/modals/DMS.jpg' %}" alt="" />

		      <div class="description-box">
			      <h4>Document management System</h4>
			      <p>A document management system that used to store documents based upon their content and context and provide an search engine for easy retrieve.</p>
               <span class="categories"><i class="fa fa-tag"></i>AWS, PHP, Python, NLP and More</span>
		      </div>

            <div class="link-box">
               <a href="https://github.com/Gareeeb7/Intelligent_Document_Manager" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-06 End -->

         <div id="modal-07" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static 'images/portfolio/modals/finger.jpg' %}" alt="" />

		      <div class="description-box">
			      <h4>Finger Print Door Unlock</h4>
			      <p>A fingerprint  door unlock system build on arduino for easy acces.</p>
               <span class="categories"><i class="fa fa-tag"></i>Arduino</span>
		      </div>

            <div class="link-box">
               <a href="https://github.com/Gareeeb7/Lykan0" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-07 End -->

         <div id="modal-08" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static 'images/portfolio/modals/game.jpg' %}" alt="m-retrocam" />

		      <div class="description-box">
			      <h4>The Last Run</h4>
			      <p>A 2D game developed with Unity</p>
               <span class="categories"><i class="fa fa-tag"></i>Unity, Adobe photoshop, C#</span>
		      </div>

            <div class="link-box">
               <a href="https://github.com/Gareeeb7/" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-01 End -->


      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->


   <!-- Call-To-Action Section
   ================================================== -->
   <section id="call-to-action">

      <div class="row">

         <div class="two columns header-col">

            <h1><span></span></h1>

         </div>

         <div class="seven columns">

            <h2><span class="lead">My Slogan</span></h2>
            <p><span class="lead">“When we strive to become better than we are, everything around us becomes better too.” </span></p>

         </div>

         <div class="three columns action">



         </div>

      </div>

   </section> <!-- Call-To-Action Section End-->



   <!-- Contact Section
   ================================================== -->
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Get In Touch.</span></h1>

            </div>

            <div class="ten columns">

                  <p class="lead"> If you like my portfolio or work and have any query please contact me.

            </div>

         </div>

         <div class="row">

            <div class="eight columns">

               <!-- form -->
               <form action="mailto:kunal9988243618@gmail.com" method="post" id="contactForm" name="contactForm">
					<fieldset>

                  <div>
						   <label for="contactName">Name <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactName" name="contactName">
                  </div>

                  <div>
						   <label for="contactEmail">Email <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                  </div>

                  <div>
						   <label for="contactSubject">Subject</label>
						   <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                  </div>

                  <div>
                     <label for="contactMessage">Message <span class="required">*</span></label>
                     <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                  </div>

                  <div>
                     <button class="submit">Submit</button>
                     <span id="image-loader">
                        <img alt="" src="{% static 'images/loader.gif' %}">
                     </span>
                  </div>

					</fieldset>
				   </form> <!-- Form End -->

               <!-- contact-warning -->
               <div id="message-warning"> Error boy</div>
               <!-- contact-success -->
				   <div id="message-success">
                  <i class="fa fa-check"></i>Your message was sent, thank you!<br>
				   </div>

            </div>


            <aside class="four columns footer-widgets">

               <div class="widget widget_contact">

					   <h4>Address and Phone</h4>
					   <p class="address">
						   Kunal Malhotra<br>
						   24244 Civil City <br>
						   Ludhiana, Punjab, India<br>
						   <span>(+91) 98777-690798</span>
					   </p>

				   </div>

               <div class="widget widget_tweets">

                  <h4 class="widget-title">Upcoming Projects</h4>

                  <ul id="twitter">
                     <li>
                        <span>
                           1. OCR - Engine
                        <a href="https://github.com/Gareeeb7">github.com/Gareeeb7</a>
                        </span>
                        <b><a href="#"></a></b>
                     </li>
                     <li>
                        <span>
                           2. Vehical No. Plate text Extraction
                        <a href="#">github.com/Gareeeb7</a>
                        </span>
                        <b><a href="https://github.com/Gareeeb7"></a></b>
                     </li>
                  </ul>

		         </div>

            </aside>

      </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="https://www.facebook.com/profile.php?id=100009293806881"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://twitter.com/Kunal93331858"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://github.com/Gareeeb7"><i class="fa fa-github"></i></a></li>
               <li><a href="https://www.linkedin.com/in/kunal-m-424baa184/"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/07lykan_slayer/"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://public.tableau.com/profile/kunal8409#!/"><i class="fa fa-plus"></i></a></li>
               <li><a href="https://join.skype.com/invite/W19G6EwcG3Hd"><i class="fa fa-skype"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Kunal Malhotra</li>
               <li>Design by <a href="#" title="Styleshout" target="_blank">Kunal Malhotra</a></li>   
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   {% load static %}
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>

   <script src="{% static 'js/jquery.flexslider.js' %}"></script>
   <script src="{% static 'js/waypoints.js' %}"></script>
   <script src="{% static 'js/jquery.fittext.js' %}"></script>
   <script src="{% static 'js/magnific-popup.js' %}"></script>
   <script src="{% static 'js/init.js' %}"></script>

</body>

</html>
